/* Container Adjustments */
.category-swiper {
  position: relative;
}

/* Custom Navigation Buttons */
.custom-na {
  background-color: #4caf50;
  color: transparent;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: all 0.3s ease;
}

.swiper-button-prev.custom-na {
  left: -20px;
}

.swiper-button-next.custom-na {
  right: -20px;
}

.image-arro {
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 25;
  padding: 3px;
}

.custom-na:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .custom-na {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .custom-na {
    display: none;
  }
}
