/* Container Adjustments */
.category-container {
  position: relative;
}

/* Hide Default Swiper Buttons */
.swiper-button-prev,
.swiper-button-next {
  /* display: none !important; */
}

/* Custom Navigation Buttons */
.custom-nav {
  background-color: #4caf50;
  color: transparent;
  font-size: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  /* padding: 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: all 0.3s ease;
}

.image-arrow {
  color: #fff;
  position: absolute;
  right: 25;
  padding: 3px;
}

/*      \ */

.swiper-button-prev.custom-nav {
  /* left: -10px; */
}

.swiper-button-next.custom-nav {
  /* right: -10px; */
}

.custom-nav:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .custom-nav {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .custom-nav {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .custom-nav {
    display: none;
  }
}
